venv/
env/
.env
#Ignore removido temporariamente para criação da estrutura de pastas
#data/historical_data/
#data/trained_models/
__pycache__/
*.py[cod]
*$py.class
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
*.log
*.cache
dist/
build/
*.egg-info/
*.tmp
*.bak
*.ipynb_checkpoints
# Adicionada extensão .csv por motivos de Jean
.csv
!.gitkeep
!README.md